{% comment %} <div id="contact">
    <div class="section">
      <h1> Contact me 🤗</h1>
    </div>
    <div class="row">
         <p> The best stories are told in person, I'd love to connect and chat! </p>
    </div>
    <div class="row">
        <form id="contact-form" method="post" action="contact.php" role="form">
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_name">Name *</label>
                            <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Name is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Message for me :)" rows="4" required="required" data-error="Please leave a message :)"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div id="submit-center" class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-send" value="Send message">
                    </div>
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> {% endcomment %}

<div id="contact">
    <div class="section">
      <h1> Contact me 🤗</h1>
    </div>
    <div class="row">
        <div class="wow animated fadeIn" data-wow-delay=".15s">
         <p> The best stories are told in person, let's connect and chat! </p>
        </div>
    </div>
    <div class="row">
    <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="contact-icons">
            <a title="Email" href="mailto:jacquelineli1005@gmail.com"><i class="icon fa fa-envelope"></i></a>
            <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/li-jacqueline/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a title="Github" target="_blank" href="https://github.com/jacqueline-li"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <a title="My Resume" target="_blank" href="/jacqueline-li-resume.pdf"><i class="icon fa fa-file" aria-hidden="true"></i></a>
        </div>
    </div>
    </div>
</div>
