<div id="particles-js">
  <div class="header">
  <div class="container">
      <h1>
        <span class="site-title">Hi, I'm {{site.username}}</span>
        <span class="site-icon"> 👩🏻‍💻 </span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
  </div>
      <div class="header-icons">
        <a title="Email" href="mailto:jacquelineli1005@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/li-jacqueline/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a title="Github" target="_blank" href="https://github.com/jacqueline-li"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a title="My Resume" target="_blank" href="/jacqueline-li-resume.pdf"><i class="icon fa fa-file" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!--<a class="link" href="#about" data-scroll>About Me</a>-->
        <!--<a class="link" href="#projects" data-scroll>Projects</a>-->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
