<div id="projects">
  <div class="user-details">
    <div class="section">
      <h1> Projects 💡</h1>
    </div>
    <main class="flex-shrink-0 container">
    <div class="card-columns">
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <img class="card-img-top" src="/assets/img/Foodpac_Pic.png" alt="Food Pact" />
          <div class="card-body">
            <h5 class="card-title">FoodPact ♻️</h5>
            <p class="card-text">Web app that scrapes an uploaded receipt and populates more eco-friendly alternatives for each item. Users can visually see how their carbon footprint compares with their country's average. </br> A demo can be viewed <a href="https://www.youtube.com/watch?v=qFbUscpN8TU" class="card-link">here.</a></p>
            <p class="card-text">
              <span class="badge badge-pill text-primary border border-primary ml-1">Javascript</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Node.JS</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Google Cloud Vision API</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">MongoDB</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">HTML/CSS</span>
            </p>
            <a class="card-link" target="_blank" href="https://github.com/jolenezheng/FoodPact"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> View on Github</a>
          </div>
        </div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <div class="card-body">
            <h5 class="card-title">Route it 🚗</h5>
            <p class="card-text">iOS travel app that finds the optimal travel route for users based on distance apart, average time spent at each destination, and attraction ratings.</p>
            <p class="card-text">
              <span class="badge badge-pill text-primary border border-primary ml-1">React Native</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">MongoDB</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Google Maps API</span>
            </p>
            <a class= "card-link" target="_blank" href="https://github.com/jacqueline-li/Route-it"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> View on Github</a>
          </div>
        </div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <div class="row">
            <div class="col-md-5">
              <img class="card-img app-icon" src="/assets/img/dinnr_pic.png" alt="Dinnr" />
            </div>
            <div class="card-body col-md-7">
              <h5 class="card-title">Dinnr🍴</h5>
              <p class="card-text">iOS app that helps pairs decide where to eat by matching their preferences with nearby restaurants.</p>
              <p class="card-text">
                <span class="badge badge-pill text-primary border border-primary ml-1">Swift</span>
                <span class="badge badge-pill text-primary border border-primary ml-1">Yelp API</span>
              </p>
              <a class= "card-link" target="_blank" href="https://github.com/jerryjrxie/dinnr"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> View on Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <img class="card-img-top" src="/assets/img/StockPredictor_Pic.png" alt="Stock Analyzer" />
          <div class="card-body">
            <h5 class="card-title">Stock Analyzer 📈</h5>
            <p class="card-text">Visualizing the closing price history of stocks that I'm invested in to predict their future market value by training a LSTM artificial neural network. </p>
            <p class="card-text">
              <span class="badge badge-pill text-primary border border-primary ml-1">Python</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Learning ML concepts</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Yahoo!</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Google colab</span>
            </p>
            <a class= "card-link" target="_blank" href="https://colab.research.google.com/drive/1Iss00IC6cEtZQLEpAQzJjKDIXxNAOwDk"><i class="fa fa-google" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="Google Colab"></i> View on Google Colab</a>&nbsp;
          </div>
        </div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <div class="row">
            <div class="card-body">
              <h5 class="card-title">LionBud</h5>
              <p class="card-text">RBC Hackathon winner 🏆 <br /> Financial literacy app that helps youth develop good habits with the gamification of a lion avatar.</p>
              <p class="card-text">
                <span class="badge badge-pill text-primary border border-primary ml-1">Java</span>
                <span class="badge badge-pill text-primary border border-primary ml-1">PHP</span>
                <span class="badge badge-pill text-primary border border-primary ml-1">Sketch</span>
              </p>
              <a class="card-link" target="_blank" href="https://github.com/jacqueline-li/LionBud"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> View on Github</a>&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
        <img class="card-img-top" id="img-modal" src="/assets/img/airbnb_pic.png" alt="Adobe x Airbnb Design Challenge" data-toggle="tooltip" data-placement="bottom" title="Click to Expand"/>
        <div class="card-body">
          <h5 class="card-title">Adobe x Airbnb Design Challenge</h5>
          <p class="card-text">Using <a href="https://xd.adobe.com/view/60731604-5bbb-493b-4663-edca2890dd6e-1642/?fullscreen" class="card-link">Adobe XD</a> to prototype a complete design that allows Airbnb users to share their trip experiences. Wireframes were created using <a href="https://www.figma.com/file/BaFKTSScZ3EXb2UIIsSPjO/Airbnb-Challenge-x-Secret-Figma-Wireframes?node-id=0%3A1" class="card-link">Figma</a> and the planning process can be viewed <a href="https://docs.google.com/document/d/19YK1Kimw8s3c2_msY6j0nvspLCQjTjtnwAnDzUkqdC0/edit?usp=sharing" class="card-link">here.</a></p>
          <p class="card-text">
            <span class="badge badge-pill text-primary border border-primary ml-1">Figma</span>
            <span class="badge badge-pill text-primary border border-primary ml-1">Adobe XD</span>
          </p>
        </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <div class="text-dark project card">
          <div class="card-body">
            <h5 class="card-title">Fact Check 🔍</h5>
            <p class="card-text">Web app that extracts subtitles from videos and populates related wikipedia articles to help users discern fake news.</p>
            <p class="card-text">
              <span class="badge badge-pill text-primary border border-primary ml-1">Express.JS</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">MySQL</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">Algorand SDK</span>
              <span class="badge badge-pill text-primary border border-primary ml-1">HTML/CSS</span>
            </p>
            <a class= "card-link" target="_blank" href="https://github.com/jacqueline-li/fact-check"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> View on Github</a>&nbsp;
          </div>
        </div>
      </div>
      </div>
    </div>
    </main>
  </div>
</div>
