<div id="tech">
    <div class="section">
        <h1> Technologies 🛠 </h1>
    <div class="skills">
        <div class="tech wow animated fadeIn" data-wow-delay=".15s">
            <h2>Web Development</h2>
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-react-original-wordmark colored"></i>
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-css3-plain-wordmark colored"></i>
            <i class="devicon-sass-original colored"></i>
            <i class="devicon-drupal-plain-wordmark colored"></i>
            <div class="skills-desc">
                <p>These are some of the technologies that I've used as a web developer at the Ontario Institute of Cancer Research. I used front-end javascript frameworks to create websites for bioinformatics labs and AI research teams to display their work, attracting over $50000 in funding.</p>
                <p>I also use these tools to create this website! 😊</p>
            </div>
        </div>
        <div class="tech wow animated fadeIn" data-wow-delay=".15s">
            <h2>Software Development</h2>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-nodejs-plain-wordmark"></i>
            <i class="devicon-c-plain colored"></i>
            <i class="devicon-swift-plain colored"></i>
            <i class="devicon-python-plain-wordmark colored"></i>
            <i class="devicon-jquery-plain-wordmark colored"></i>
            <i class="devicon-mocha-plain colored"></i>      <i class="devicon-backbonejs-plain-wordmark colored"></i>
            <i class="devicon-postgresql-plain-wordmark colored"></i>
            <div class="skills-desc">
                <p>From developping web-scrappers to internal APIs, I have experience creating automative tools that are both scalable and greatly improve success rates.</p>
                <p>I've also used these technologies to at hackathons and computer science courses!</p>
            </div>
        </div>
        <div class="tech wow animated fadeIn" data-wow-delay=".15s">
            <h2>Product and Design</h2>
            <img class="icon" src="/assets/img/sketch_logo.svg"></img>
            <img class="icon" src="/assets/img/adobe_xd.svg"></img>
            <img class="icon" src="/assets/img/figma_logo.svg"></img>
            <i class="icon devicon-confluence-original-wordmark colored"></i>
            <i class="icon devicon-gitlab-plain-wordmark colored"></i>
            <i class="devicon-trello-plain colored"></i>
            <div class="skills-desc">
                <p>Product design and UX/UI is my creative outlet. </br> Delivering a unique and seamless experience to users is meaningful to me, so I enjoy learning about client-facing needs and participating in design challenges.</p>
                <p>At my previous internship, I attended many project-scoping meetings with stakeholders to implement their goals into website design. Working closely with the product manager and designer, I gained experience in using these tools. </p>
            </div>
        </div>
    </div>
</div>