// styling colours
$gradient: linear-gradient(-225deg, #002880 0%, #6E7FF3 48%, #3333ff 100%);
$black-gradient: linear-gradient(-180deg, #000000, #00008b);
$iconhover: #3333ff;
$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$border: rgba(0,0,0,.125);

// screen sizes
$xxs: 50px;
$md: 992px;
$cut: 550px;

// projects
$rounded-borders: 15px;